* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Navigation bar */

nav {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 90;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
    position: relative;
}

nav a:hover {
    color: #fbbf24;
}

nav a.active {
    color: #f5cd1e;
}

nav a.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 4px;
    background: #f5cd1e;
    border-radius: 2px;
}

/* mains */

.mains {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    background: url("MAIN PICS/Project Index Pic.jpg") center/cover;
    position: relative;
    z-index: 500;
}

.mains::before {
    /*Because the background picture was too bright*/
    content: "";
    position: absolute;
    inset: 0;
    /*left top bottom right all are 0 which means the black transparent new background will cover the whole mains ultimately resulting in making the background pic a lil bit dark*/
    background: rgba(0, 0, 0, 0.55);
    /*alpha in rgba set to 0.55 means the black transparent bg is 55% opaque*/
}

.mains h1,
.mains .content,
.mains .upper {
    z-index: 1;
    /* This will help as the black background will be under the History Nexus and the content paragraph*/
}

.mains h1 {
    font-size: 120px;
    text-shadow: 0 0 50px rgba(220, 207, 24, 0.7);
    transition: 0.4s;
    display: inline-block;
    margin: 0;
    font-family: Georgia, "Times New Roman", serif;
    font-weight: 500;
    line-height: 0.9;
    margin-left: 30px;
    width: 200px;
}

.mains h1:hover {
    transform: scale(1.09);
}

.mains .upper {
    margin: 0 0 10px;
    font-size: 0.78rem;
    font-weight: 500;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: gold;
    margin-left: 30px;
    width: 300px;
}

.mains .content {
    margin-left: 30px;
}

.content p {
    font-size: 24px;
    margin-top: 15px;
    color: gold;
}

/* Container */


.container-i {
    background-image: url("MAIN PICS/index-card-container.png");
    background-size: cover;
    padding: 70px;
    border: 3px solid rgb(144, 129, 43);
    border-radius: 30px;
    margin: 109px;
}

.container h1 {
    transition: 0.4s;
    display: inline-block;
}

.container h1:hover {
    transform: scale(1.09);
}

.button-i {
    min-height: 46px;
    padding: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 18px;
    border: 1px solid rgba(255, 250, 240, 0.35);
    background: rgba(255, 217, 0, 0.741);
    background: #d7a23b;
    color: black;
    border-color: gold;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    margin: 20px 30px;
    z-index: 1;
    transition: transform 0.3s ease;
    box-shadow: 5px 6px 5px black;
}

.button-i:hover {
    transform: translateY(-12px);
    transform-origin: center;
    box-shadow: 0 8px 20px #000000;
    /* z-index: 1; */
}

/* Cards */

.cards {
    width: 100%;
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    padding-top: 30px;
    flex-direction: column;
    /* align-items: stretch; */
}

/* Home page Card */

.card {
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255,0);
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.card:hover {
    transform: translateY(-12px);
    box-shadow: 0 15px 35px rgba(251, 191, 36, 0.4);
}

.card h2 {
    width: 25vw;
    color: #b59736;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.content2 p {
    color: #ddd;
    line-height: 1.5;
    width: 250px;
}

/* TIMELINE BAND */

.timeline-band {
    height: 50%;
    width: 50vw;
    position: relative;
    display: inline-grid;
    grid-template-columns: minmax(260px, 0.7fr) minmax(0, 1fr);
    gap: 24px;
    margin: 18px 195px 56px;
    color: #000000;
    padding: 28px;
    border: 5px solid rgb(101, 91, 1);
    background: url("MAIN PICS/timeline-band.png");
    background-size: 100%;
    z-index: 4;
}

.timeline strong,
.timeline p {
    border-left: 4px solid rgb(125, 112, 23);
    padding: 10px 0 10px 14px;
}

.timeline strong{
    padding-top: 0px;
}

.timeline-band h2 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 30px;
    line-height: 0.96;
    font-weight: 800;
}

.timeline-upper{
    margin-top: 100px;
}

.timeline-below{
    border-top: 2px solid rgb(107, 95, 29);
    border-radius: 10px;
    padding-left: 5px;
    margin-top: 10px;
}

.timeline{
    box-shadow: 20px 8px 20px rgba(212, 188, 49, 0.6);
}

.timeline .band-hover{
    transition: 0.3s;
    box-shadow: 4px 2px 1px #020617;
}

.timeline .band-hover:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 15px black;
}

/* Artifact */
.png{
    background-image: url("MAIN PICS/artifact.png");
    height: 600px;
    width: 512px;
    background-size: cover;
    margin: -600px 900px 0;
    z-index: 6;
    transform: scaleX(1.1);
}

/* World Map */

.world {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.worldmap{
    background-image: url("MAIN PICS/world-map.png");
    background-size: cover;
    height: 400px;
    width: 550px;
}

/* AI Pic In Index */
.botpic{
    height: 200px;
    width: 200px;
    background-image:url("MAIN PICS/aibot.png") ;
    background-size: cover;
    position: fixed;
    bottom: 30px;
    right: 10px;
    transition: 0.3s;
    z-index: 9;

}
.botpic:hover{
    transform: scale(1.09);
}

.bubble{
    height: 100px;
    width: 200px;
    background-image: url("MAIN PICS/bubble.png");
    background-size: cover;
    position: fixed;
    bottom: 1px;
    right: 10px;
    z-index: 7;
}

/* Footer */

footer {
    text-align: center;
    padding: 25px;
    background: #000000;
    color: #fbbf24;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 50px;
    border-top:2px solid gold
}



/* MOBILE VIEW */

@media (max-width: 1500px){
    .timeline-band{
        width: 90vw;
        margin: 0 0 0 0;
    }
    .time-container{
        display: flex;
        justify-content: center;
    }
    .png{
        display: none;
    }
    .worldmap{
        margin: 0;
    }
    .world{
        display: flex;
        justify-content: center;
    }
}

@media (max-width:768px){

nav{
        overflow-x: auto;
        white-space: nowrap;
        text-align: left;
    }

nav a {
        display: inline-block;
        margin: 0 10px;
}

/* Hero Section */

.mains{
    height: 60vh;
    justify-content:center;
    align-items:flex-start;
    padding:25px;
}

.mains h1{
    font-size:50px;
    width:auto;
    margin-left:0;
    line-height:0.95;
}

.mains .upper{
    margin-left:0;
    width:auto;
    font-size:13px;
}

.mains .content{
    margin-left:0;
}

.content p{
    font-size:18px;
}


/* Containers */

.container{
    padding:25px 15px;
}

.container-i{
    margin:20px 10px;
    padding:25px 15px;
}


/* Home Cards */

.card{
    width:100%;
    margin-right:0;
    padding:20px;
}

.card h2{
    width:100%;
}


/* Gallery Cards */

.card-g,
.card-a,
.card-f,
.card-s{
    width:100%;
}


/* Timeline */

.timeline-band{
    width: 90vw;
    margin: 0 0 0 0;
    height:470px;
    display:flex;
    flex-direction:column;
    gap:18px;
    background-size:cover;
    z-index: 1;
    width:95%;
    padding:5px;
    margin:auto;

}

.time{
    margin-top: -85px;
}

.timeline-band h2{
    font-size:24px;
    text-align:center;
}

.timeline{
    display:block;
}

.timeline-upper{
    display: flex;
    justify-content: center;
}

.timeline strong,
.timeline p{
    font-size:14px;
}


/* Artifact Image */

.png{
    display:none;
}


/* World Map */

.worldmap{
    width:50%;
    height:50%;
    margin:30px auto;
    background-position:center;
}


/* Buttons */

.button-i{
    width:100%;
    margin:12px 0;
}


/* Chatbot */

.chat-section{
    width:95%;
    margin:30px auto;
    padding:18px;
}

.chat-box{
    height:300px;
}

.bot,
.user{
    max-width:90%;
}


/* Floating Robot */

.botpic{ 
    height:110px;
    width:80px;
    right:35px;
    bottom:10px;
}

.bubble{
    bottom: 100px;
    right: -30px;
}

/* Exit Button */

.exit-btn{
    top:12px;
    right:12px;
    padding:10px 15px;
    font-size:14px;
}


/* Submit Button */

.submit button{
    width:100%;
    margin:30px 0;
}


/* Footer */

footer{
    font-size:14px;
    padding:18px;
}

.submit button {
        width: 100px;
        font-size: 15px;
    }

}

/* --- Scrollbar Styling --- */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #8b6914, #d4af37);
    border-radius: 4px;
}